@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Axi";
        src: url("./fonts/FontsFree-Net-sddd4.ttf")
            format("truetype");
    }
    @font-face {
        font-family: "Gotham";
        src: url("./fonts/Gotham\ Pro\ Regular.ttf")
            format("truetype");
    }
}

@layer base {
    html {
        font-family: "Axi";
    }
}

@layer components {
    .liNav {
        @apply flex items-center mx-5 cursor-pointer; 
    }
    .btnNav {
        @apply mx-5;
    }
}